/* fix width height InfiniteScroll */
.infinite-scroll-component__outerdiv {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.mantine-Stepper-stepIcon[data-completed],
.mantine-Stepper-separator[data-active] {
  background-color: #1FC461;
  border-color: #1FC461;
}


.custom-radial-gradient {
  background: radial-gradient(
    98.92% 98.92% at 48.99% 98.48%,
    rgba(215, 163, 125, 0.56) 4.5%,
    rgba(217, 173, 108, 0.68) 22%,
    rgba(99, 86, 150, 0.52) 45%,
    rgba(68, 53, 129, 0.55) 60.5%,
    rgba(11, 2, 104, 0.56) 75%,
    rgba(11, 2, 104, 0.62) 87%,
    rgba(11, 2, 104, 0.68) 96.5%
  );
}

.sidebar-linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(2, 4, 134, 0.64) 0%,
    rgba(21, 0, 67, 0.47) 100%
  );
}

.card {
  display: flex;
  flex-direction: column;
}

:root {
  --tqf-color-done: #3dff45;
  --tqf-color-in-progress: #fff50d;
  --tqf-color-no-data: #a2a2a2;
}

.tqf-done {
  color: var(--tqf-color-done);
  border-color: var(--tqf-color-done);
}

.tqf-in-progress {
  color: var(--tqf-color-in-progress);
  border-color: var(--tqf-color-in-progress);
}

.tqf-no-data {
  color: var(--tqf-color-no-data);
  border-color: var(--tqf-color-no-data);
}

.tqf-done-with-bg {
  color: white;
  background-color: var(--tqf-color-done);
}

.tqf-in-progress-with-bg {
  color: white;
  background-color: var(--tqf-color-in-progress);
}

.tqf-no-data-with-bg {
  color: white;
  background-color: var(--tqf-color-no-data);
}
