:root {
  --tqf-color-done: #3dff45;
  --tqf-color-in-progress: #fff50d;
  --tqf-color-no-data: #adadad;
  --color-primary: #423e90;
  --color-secondary: #5768d5;
  --color-tertiary: #3e3e3e;
  --color-hover: #efefef;
  --color-border-input: #cecece;
  --color-background-input: #f9f9f9;
  --input-radius: 20px;
}

* {
  font-family: "Lato", "NotoSansThai";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("~@/assets/fonts/NotoSansThai.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0E00- U+0E7F;
}

/* fix width height InfiniteScroll */
.infinite-scroll-component__outerdiv {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.mantine-Stepper-stepIcon[data-completed],
.mantine-Stepper-separator[data-active] {
  background-color: #1fc461;
  border-color: #1fc461;
}

.mantine-Stepper-stepIcon[data-progress] {
  background-color: var(--color-secondary);
  background-clip: content-box;
  padding: 8px;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.mantine-Stepper-stepWrapper {
 width: 3px;
  
 
}

.mantine-Stepper-stepLabel {
  font-weight: 600;
  font-size: 1px;
}

.mantine-Modal-title {
  font-weight: 600 !important;
  color: var(--color-secondary);
  font-size: 18px !important;
}

.mantine-Modal-content,
.mantine-Modal-header {
  background-color: #ffffff !important;
}

.mantine-Paper-root {
  border-radius: 8px !important;
  padding: 4px !important;
  width: fit-content !important;
}

.mantine-Select-dropdown {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.mantine-Select-option {
  color: var(--color-primary) !important;
  font-weight: 500 !important;
}

.mantine-Select-option[data-combobox-selected],
.mantine-Select-option:hover {
  background-color: var(--color-hover) !important;
}

.mantine-Select-input {
  color: var(--color-primary) !important;
  padding-inline: 16px !important;
  font-size: 12px !important;
  background-color: var(--color-background-input) !important;
  font-weight: 500 !important;
  border: var(--color-border-input) solid 1px !important;
  cursor: pointer !important;
}

.mantine-Select-input:focus,
.mantine-Select-input:active {
  border-color: var(--color-secondary) !important;
}

.mantine-Select-label {
  font-size: 13px !important;
  color: var(--color-tertiary) !important;
  font-weight: 600 !important;
  margin-bottom: 4px;
}

.mantine-TextInput-input {
  border-color: var(--color-border-input) !important;
  background-color: var(--color-background-input) !important;
  border-radius: 6px !important;
}

.mantine-TextInput-input:focus {
  border: 1px solid;
  border-color: var(--color-secondary) !important ;
}

.mantine-TextInput-label {
  font-size: 13px !important;
  color: var(--color-tertiary) !important;
  font-weight: 600 !important;
}

.mantine-TextInput-description {
  color: var(--color-secondary) !important;
}

.mantine-Menu-item:hover {
  background-color: var(--color-hover);
}

Button:disabled {
  border-color: var(--color-border-input) !important;
  cursor: not-allowed !important;
}

.custom-radial-gradient {
  background: radial-gradient(
    98.92% 98.92% at 48.99% 98.48%,
    rgba(215, 163, 125, 0.56) 4.5%,
    rgba(217, 173, 108, 0.68) 22%,
    rgba(99, 86, 150, 0.52) 45%,
    rgba(68, 53, 129, 0.55) 60.5%,
    rgba(11, 2, 104, 0.56) 75%,
    rgba(11, 2, 104, 0.62) 87%,
    rgba(11, 2, 104, 0.68) 96.5%
  );
}

.sidebar-linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(18, 21, 194, 0.64) 0%,
    rgba(57, 23, 131, 0.47) 100%
  );
}

.card {
  display: flex;
  flex-direction: column;
}

.tqf-done {
  color: var(--tqf-color-done);
  border-color: var(--tqf-color-done);
}

.tqf-in-progress {
  color: var(--tqf-color-in-progress);
  border-color: var(--tqf-color-in-progress);
}

.tqf-no-data {
  color:#ffffff;
  background-color: #aaaaaa;
}

.tqf-done-with-bg {
  color: white;
  background-color: var(--tqf-color-done);
}

.tqf-in-progress-with-bg {
  color: white;
  background-color: var(--tqf-color-in-progress);
}

.tqf-no-data-with-bg {
  color: white;
  background-color: var(--tqf-color-no-data);
}
