@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base, mantine, components;

@font-face {
  font-family: "NotoSansThai";
  src: url("assets/fonts/NotoSansThai.ttf") format("opentype");
  /* font-weight: normal;
  font-style: normal; */
  unicode-range: U+0E00- U+0E7F;
}

:root {
  font-family: "Manrope", "NotoSansThai", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mantine-font-family: "Manrope", "NotoSansThai";
}

* {
  font-family: "Manrope", "NotoSansThai";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Manrope", "NotoSansThai" Helvetica, Arial, sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
